@import '@fontsource/oswald/index.css'; /* Defaults to weight 400 */
@import '@fontsource/oswald/700.css'; /* Weight 700 */
@import '@fontsource/oswald/500.css'; /* Weight 500 */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #140E30;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
